# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Security scan results
results.sarif

# TFLint
.tflint.hcl
.tflint.d/

# Python
.venv/
__pycache__/
*.pyc

# OS
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# Build artifacts
publish_tmp/
validation_error.txt

#Agent
.agent
